.avatar-large {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0,0,0,0.7);
}

.icon-tiny {
  height: 40px;
  margin-right: 20px;
}

.font-icon {
  font-size: 200px;
  margin-right: 20px;
}
