<div class="container welcome-page">
  <div class="flex-box avatar-arrow">
    <div>
      <div id="arrow-to-picture">
        <%= image_tag "arrow_to_picture.png" %>
      </div>
    </div>
    <%= image_tag "robinzuschke.png", class: "avatar-large" %>
  </div>
  <div class="flex-box flex-column">
    <div id="welcome-text">
      <h1 id="hi">Hi, I am Robin</h1>
      <div class="flex-box hi2 flex-mid">
        <%= image_tag "hamburg.png", class: "icon-tiny" %>
        <h2 class="sketch">From Hamburg, Germany</h2>
      </div>
      <div class="flex-box hi2 flex-mid">
        <i class="fa fa-code font-icon" aria-hidden="true"></i>
        <h2 class="sketch">Web Developer in the making</h2>
      </div>
    </div>
  </div>
  <div class= "center fix-bottom-page">
    <!-- <p class="sketch">Check me out below</p> -->
    <%= image_tag 'arrow_to_next_page.png', class: 'arrow-down' %>
  </div>
</div>
